<html>
    <head>
    </head>
    <body>
        <h1>An error accurd!</h1>
        <% if (err == 'not found') { %>
            <h2>File not found</h2>
        <% } %>
        <% if (err == 'invalid name') { %>
            <h2>Invalid file name!</h2>
            <p>No '/'s allowed!</p>
        <% } %>
        <footer>
            <p>Need help?</p>
            <a href="mailto:yotam.shavrtsun@gmail.com">Email us!</a>
        </footer>
    </body>
</html>